.container{:id => params[:action]}
  .content
    .row
      .span4
        %a.btn.primary.large{:href => new_feeds_list_path} Create New List
      .span12
        #flash-messages
          - flash.each do |name, msg|
            .alert-message.fade.in{:class => name, "data-alert" => "alert"}
              %a.close{:href => "#"} x
              %p #{msg}
        .page-header
          %h2 Your Lists
        .row
          .span7
            - @lists.each do |list|
              .list
                %p #{list.name}
                %a.primary{:href => messages_feeds_list_url(list)} Send Message
         