.container
  .row
    .span8.offset4
      - flash.each do |name, msg|
        .alert-message.fade.in{:class => name, "data-alert" => "alert"}
          %a.close{:href => "#"} x
          %p #{msg}
      = form_tag sessions_path, {:class => "form-stacked"} do
        %fieldset
          %legend Login
          .clearfix
            %label Email
            .input
              %input.xlarge{:type=>"text", :name => "email"}
          .clearfix
            %label Password
            .input
              %input.xlarge{:type=>"password", :name => "password"}
        .actions
          %button.btn.primary{:type => "submit"} Login
          %button.btn{:type => "reset"} Reset