.topbar
  .fill
    .container
      %a.brand AppMakr
      %ul.nav
        %li
          %a{:href => "how"} How
      %p.account.pull-right
        %a{:href=> login_url} Log In
#choose_plan
  .container
    .content
      - flash.each do |name, msg|
        .alert-message.fade.in{:class => name, "data-alert" => "alert"}
          %a.close{:href => "#"} x
          %p #{msg}
      .page-header
        %h1 Choose Your Plan
      #plans.row
        .plan.span4
          %h2.plan-title Starter
          %div
            %p FREE
            %button.btn.primary Sign Up Now
        .plan.span4
          %h2.plan-title Basic
          %div
            %p $14.99/mo
            %button.btn.primary Sign Up Now
        .plan.span4
          %h2.plan-title Premium
          %div
            %p $29.99/mo
            %button.btn.primary Sign Up Now