.topbar
  .fill
    .container
      %a.brand AppMakr
      %ul.nav
        %li
          %a{:href => "how"} How
      %p.account.pull-right
        %a{:href=> login_url} Log In
#signup
  .container
    .content
      .page-header
        %h1 App Configuration
      .row
        .span8
          %h2 Preview  
          .app-configuration
            %img.app-preview{:src => "/assets/card_reader.png"} 
            %span.biz-greeting Presented By
            %span.biz-name Your Name Here
            .biz-logo-holder
              %img.biz-logo-thumbnail{:style => "height:36px;width:36px;"}
        .span8
          = form_tag(users_path, {:id => "slides", :class => "form-stacked slides_container", :method => "POST", :enctype => "multipart/form-data"}) do
            .slides_container
              .step1
                %h2 Step 1
                %h3 Choose your App
                %ul.media-grid.app-picker
                  - @apps.each do |t|
                    %li
                      %a{:href => "#", :type => "#{t.id}-#{t.name.downcase!.gsub(/ /, '-')}", :rel => "twipsy", :title => t.description, "data-placement" => "below"}
                        %img.thumbnail{:src => t.canvas.url, :width => 192}
                        %h6 #{t.name}
                .well
                  %a.btn.primary.next.pull-right Next &rarr;
              .step2
                %h2 Step 2
                %h3 Customize
                %fieldset
                  .clearfix
                    %label Greeting
                    .input
                      .input-append
                        %input.xlarge{:type=>"text", :name => "greeting", :value => "Presented By"}
                        %label.add-on.active
                          %input#greeting_cb{:type => "checkbox", :name => "greeting_on", :checked => true}
                  .clearfix
                    %label Business Name
                    .input
                      %input.xlarge{:type=>"text", :name => "business_name", :placeholder => "Your business name"}
                  .clearfix
                    %label Logo
                    .input
                      %input.xlarge{:type=>"file", :name => "logo_file"}
                      %span.help-block Use a square image at least 60x60.
                  -#
                    .clearfix
                      %label Link Address
                      .input
                        %span http://merchcraft.com/l/
                        %input.large{:style => "display:inline;", :type => "text", :name => "path", :placeholder => "MyBusinessName"}
                        %span.help-block This will be a link that you can send to your customers
                  
                    .clearfix
                      %label Crop Logo
                      .input
                        %img.biz-logo-edit{:src => "http://placehold.it/180x180"}
                        %span.help-block Drag a square to crop the image
                .well
                  %a.btn.primary.prev.pull-left &larr; Back
                  %a.btn.primary.next.pull-right Next &rarr;
              .step3
                %h2 Step 3
                -#
                  %h3 Contact Information
                  .clearfix
                    %label Twitter
                    .input
                      .input-prepend
                        %input.span4{:type=>"text", :name => "twitter", :placeholder => "@accountname"}
                        %label.add-on
                          %input{:type => "checkbox", :name => "allow_twitter"}
                      %span.help-block If checked, users will be asked to follow you on Twitter.
                  .clearfix
                    %label Contact E-Mail Address
                    .input
                      .input-prepend
                        %input.span4{:type=>"text", :name => "email", :placeholder => "me@mycompany.com"}
                        %label.add-on
                          %input{:type => "checkbox", :name => "allow_email"}
                      %span.help-block If checked, users will be able to send emails to this address.
                  .clearfix
                    %label Phone Number
                    .input
                      .input-prepend
                        %input.span4{:type=>"text", :name => "phone", :placeholder => "123-456-7890"}
                        %label.add-on
                          %input{:type => "checkbox", :name => "allow_phone"}
                      %span.help-block If checked, users will be able to call this number.
                  %fieldset
                    %legend Google Maps
                    .clearfix
                      .input
                        %ul.inputs-list
                          %li
                            %label
                              %input{:type => "checkbox", :name => "allow_twitter",}
                              %span Allow users to follow you on twitter
                    .clearfix
                      .input
                        .input-prepend
                          %span.add-on @
                          %input.span5{:type=>"text", :name => "twitter", :placeholder => "twitteraccount"}
                  .well
                    %a.btn.primary.prev.pull-left &larr; Back
                    %a.btn.primary.next.pull-right Next &rarr;
                %h3 Create Account
                %fieldset
                  .clearfix
                    %label Email Address
                    .input
                      %input.xlarge{:type=>"text", :name => "email"}
                  .clearfix
                    %label Password
                    .input
                      %input.xlarge{:type => "password", :name => "password"}
                  .clearfix
                    %label Confirm Password
                    .input
                      %input.xlarge{:type => "password", :name => "password_confirmation"}
                      %span.help-block{:style => "display:none;"} Passwords must match
                .well
                  %a.btn.primary.prev.pull-left &larr; Back
                  %a.btn.primary.submit.pull-right Create Account
              -#
                %h3 Business Information
                %form.form-stacked
                  %fieldset
                    .clearfix
                      %label Email Address
                      .input
                        %input.xlarge{:type=>"text", :name => "email"}
                    .clearfix
                      %label Password
                      .input
                        %input.xlarge{:type => "password", :name => "password"}
                    .clearfix
                      %label Confirm Password
                      .input
                        %input.xlarge{:type => "password", :name => "password_confirmation"}
                -#
                  %form.form-stacked
                    %fieldset
                      .clearfix
                        %label Phone Number
                        .input
                          %input.xlarge{:type=>"tel", :name => "phone-number", :placeholder => "123-456-7890"}
                      .clearfix
                        %label Street Address
                        .input
                          %input.xlarge{:type => "text", :name => "address", :placeholder => "123 Sesame St."}
                      .clearfix
                        %label City
                        .input
                          %input.xlarge{:type => "text", :name => "city", :placeholder => "New York"}
                      .clearfix
                        %label State
                        .input
                          %select
                            %option{:value => "AL"} Alabama 
                            %option{:value => "AK"} Alaska 
                            %option{:value => "AZ"} Arizona 
                            %option{:value => "AR"} Arkansas 
                            %option{:value => "CA"} California 
                            %option{:value => "CO"} Colorado 
                            %option{:value => "CT"} Connecticut 
                            %option{:value => "DE"} Delaware 
                            %option{:value => "DC"} District Of Columbia 
                            %option{:value => "FL"} Florida 
                            %option{:value => "GA"} Georgia 
                            %option{:value => "HI"} Hawaii 
                            %option{:value => "ID"} Idaho 
                            %option{:value => "IL"} Illinois 
                            %option{:value => "IN"} Indiana 
                            %option{:value => "IA"} Iowa 
                            %option{:value => "KS"} Kansas 
                            %option{:value => "KY"} Kentucky 
                            %option{:value => "LA"} Louisiana 
                            %option{:value => "ME"} Maine 
                            %option{:value => "MD"} Maryland 
                            %option{:value => "MA"} Massachusetts 
                            %option{:value => "MI"} Michigan 
                            %option{:value => "MN"} Minnesota 
                            %option{:value => "MS"} Mississippi 
                            %option{:value => "MO"} Missouri 
                            %option{:value => "MT"} Montana 
                            %option{:value => "NE"} Nebraska 
                            %option{:value => "NV"} Nevada 
                            %option{:value => "NH"} New Hampshire 
                            %option{:value => "NJ"} New Jersey 
                            %option{:value => "NM"} New Mexico 
                            %option{:value => "NY"} New York 
                            %option{:value => "NC"} North Carolina 
                            %option{:value => "ND"} North Dakota 
                            %option{:value => "OH"} Ohio 
                            %option{:value => "OK"} Oklahoma 
                            %option{:value => "OR"} Oregon 
                            %option{:value => "PA"} Pennsylvania 
                            %option{:value => "RI"} Rhode Island 
                            %option{:value => "SC"} South Carolina 
                            %option{:value => "SD"} South Dakota 
                            %option{:value => "TN"} Tennessee 
                            %option{:value => "TX"} Texas 
                            %option{:value => "UT"} Utah 
                            %option{:value => "VT"} Vermont 
                            %option{:value => "VA"} Virginia 
                            %option{:value => "WA"} Washington 
                            %option{:value => "WV"} West Virginia 
                            %option{:value => "WI"} Wisconsin 
                            %option{:value => "WY"} Wyoming
                      .clearfix
                        %label Zip Code
                        .input
                          %input.xlarge{:type => "text", :name => "zip", :placeholder => "12345"}
                      .clearfix
                        %label Twitter Account
                        .input
                          .input-prepend
                            %span.add-on @
                            %input.xlarge{:type=>"text", :name => "twitter", :placeholder => ""}
                      .clearfix
                        %label Website URL
                        .input
                          %input.xlarge{:type=>"text", :name => "website_url", :placeholder => "http://www.mywebsite.com"}
                  .well
                    %a.btn.primary.prev.pull-left &larr; Back
                    %a.btn.primary.next.pull-right Next &rarr;
