.topbar
  .fill
    .container
      %a.brand AppMakr
      %ul.nav
        %li
          %a{:href => "how"} How
      %p.account.pull-right
        %a{:href=> login_url} Log In
#signup
  .container
    .content
      .page-header
        %h1 Help! I don't have a code!
      .row
        .span6
          %p
            If you would like to use
            %b Light Lens
            but do not have a code, you can use one of the codes provided to the right.
        .span5
          %table.bordered-table.zebra-striped
            %thead
              %tr
                %th Creator
                %th Code
            %tbody
              %tr
                %td Evan R
                %td testcode2
              %tr
                %td Julia T
                %td 1234
              
