.topbar
  .fill
    .container
      %a.brand 
      %ul.nav
      %p.account.pull-right
        %a{:href=> login_url} Log In
%header#overview.jumbotron.masthead
  .inner
    .container
      .row
        .span10
          %h1 Digital, Branded Apps
          %p.lead Connect with your clients on the device that never leaves their side. Be up and running in 5 minutes!
        .span5
          %a.btn.large.success{:href => signup_path} Sign up for Free!
.quickstart
  .container
    .row
      .span5
        %h6 Branded Digital Goods
        %p Say goodbye to pens and pads of paper - digital goods are the future. Give your customers something useful, with your custom branding. 
      .span5
        %h6 Business Information
        %p Make it easy for your customers to call you, email you, follow you on twitter, and get directions to your location.
      .span5
        %h6 Communicate with your customers
        %p Send mass and individual push notifications directly to your customers' phones. These appear as normal text messages and cannot be ignored.