// Place all the styles related to the  controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$small-logo-thumbnail-size: 28px;

h5.app-title {
  text-align: center;
  text-transform: capitalize;
}

#app-info-screen {
  position: relative;
  span {
    position: absolute;
    left: 70px;
    font-family: Helvetica;
    width: 167px;
    text-align: center;
  }
  img {
    width: 256px;
  }
  span.biz-name {
    top: 55px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #ccc;
  }
  .biz-logo-holder {
    overflow: hidden;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 51px;
    left: 12px;

    img.biz-logo-thumbnail {
      height:48px;
      width:48px;
    }
  }
}


/*
#app-info-screen {
  position: relative;
  span {
    position: absolute;
    left: 70px;
    font-family: Helvetica;
    width: 220px;
    text-align: center;
  }
  span.biz-name {
    top: 66px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #ccc;
  }
  .biz-logo-holder {
    overflow: hidden;
    height: 60px;
    width: 60px;
    position: absolute;
    top: 55px;
    left: 12px;

    img.biz-logo-thumbnail {
      height:60px;
      width:60px;
    }
  }
}
*/
/*
.app-configuration {
  position: relative;
  img.app-preview { 
    width: 360px;
    border: 1px solid #ccc;
  }
  color: #ccc;
  &.wikipedia {
    color: #333;
  }
  span {
    position: absolute;
    left: 0;
    font-family: Helvetica;
    width: 360px;
    text-align: center;
  }
  span.biz-greeting {
    top: 3px;
    font-size: 13px;
    font-weight: 300;
  }
  &.wikipedia span.biz-greeting {
    top: 5px;
  }
  span.biz-name {
    top: 22px;
    font-size: 16px;
    font-weight: 500;
  }
  &.wikipedia span.biz-name {
    font-size: 18px;
    top: 29px;
  }
  
  &.wikipedia .biz-logo-holder {
    height: 42px;
    width: 42px;
    img.biz-logo-thumbnail {
      height:42px;
      width:42px;
    }
  }
  .biz-logo-holder {
    overflow: hidden;
    height: 36px;
    width: 36px;
    position: absolute;
    top: 5px;
    left: 12px;

    img.biz-logo-thumbnail {
      height:36px;
      width:36px;
    }
    &.wikipedia img.biz-logo-thumbnail {
      height:42px;
      width:42px;
    }
  }
}*/

#app-configuration-small {
  position: relative;
  img.app-preview { 
    width: 256px;
    border: 1px solid #ccc;
  }
  color: #ccc;
  &.wikipedia {
    color: #333;
  }
  span {
    position: absolute;
    left: 0;
    font-family: Helvetica;
    width: 256px;
    text-align: center;
  }
  span.biz-greeting {
    top: 1px;
    font-size: 11px;
    font-weight: 300;
  }
  span.biz-name {
    &.no-greeting {
      top: 6px;
    }
    top: 16px;
    font-size: 15px;
    font-weight: 500;
  }
 
  .biz-logo-holder {
    overflow: hidden;
    height: $small-logo-thumbnail-size;
    width: $small-logo-thumbnail-size;
    position: absolute;
    top: 5px;
    left: 12px;

    img.biz-logo-thumbnail {
      height:$small-logo-thumbnail-size;
      width:$small-logo-thumbnail-size;
    }
  }
}


.app-configuration {
  position: relative;
  img.app-preview { 
    width: 288px;
    border: 1px solid #ccc;
  }
  color: #ccc;
  &.wikipedia {
    color: #333;
  }
  span {
    position: absolute;
    left: 0;
    font-family: Helvetica;
    width: 288px;
    text-align: center;
  }
  span.biz-greeting {
    top: 2px;
    font-size: 11px;
    font-weight: 300;
  }
  &.wikipedia span.biz-greeting {
    top: 5px;
    font-size: 13px;
  }
  span.biz-name {
    &.no-greeting {
      top: 9px;
    }
    top: 19px;
    font-size: 15px;
    font-weight: 500;
  }
  &.wikipedia span.biz-name {
    &.no-greeting {
      top: 19px;
    }
    font-size: 17px;
    top: 29px;
  }
  
  &.wikipedia .biz-logo-holder {
    height: 42px;
    width: 42px;
    img.biz-logo-thumbnail {
      height:42px;
      width:42px;
    }
  }
  .biz-logo-holder {
    overflow: hidden;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 5px;
    left: 12px;

    img.biz-logo-thumbnail {
      height:32px;
      width:32px;
    }
    &.wikipedia img.biz-logo-thumbnail {
      height:42px;
      width:42px;
    }
  }
}